@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 1rem;
  font-family: "DynaPuff", cursive;
  color: #f0f8fb;
  background-color: #0c1232;
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(320px, 5fr);
  grid-template-rows: 2fr 1fr 3fr 2fr 2fr;
  justify-items: center;
}

h1 {
  font-size: clamp(3rem, 3.5vw, 4rem);
  padding: 20px;
}


.choices,
.container,
.game-points,
.button-container {
  padding: 10px;
}

.game-status,
.game-points {
  font-size: clamp(1.125rem, 1.25vw, 1.5rem);
}

.game-status,
.choices > div,
.game-points > div {
  padding: 10px;
}


.button-container {
  grid-row: 3 / 4;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.choices {
  grid-row: 4 / 5;
  font-family: "Righteous", cursive;
  color: chocolate;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
 
}

.choices > div:nth-child(3) {
  grid-column: 1 / 3;
}

.game-points {
  grid-row: 5 / 6;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  max-height: 160px;
  max-width: 160px;
  border: none;
  border-radius: 10px;
  background-color: #0c1232;

}

img {
  height: 90%;
  width: 90%;
  padding: 10px;
}

button:last-child > img {
  transform: rotate(-90deg);
}

button:hover {
  background-color: #1b2870;
}
